$color-red-01: hsl(353, 100%, 62%);
$color-red-02: hsl(356, 100%, 66%);
$color-red-03: hsl(355, 100%, 74%);
$color-red-04: hsl(13, 100%, 72%);

$color-blue-01: hsl(208, 49%, 24%);

$color-neutral-01: hsl(0, 0%, 100%);
$color-neutral-02: hsl(240, 2%, 79%);
$color-neutral-03: hsl(207, 13%, 34%);
$color-neutral-04: hsl(237, 23%, 32%);
$color-neutral-05: hsl(237, 17%, 21%);
$color-neutral-06: hsl(240, 10%, 16%);